<app-navbar></app-navbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="button-container">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="drawer.toggle()">
        <mat-icon *ngIf="!showFiller">keyboard_arrow_left</mat-icon>
        <mat-icon *ngIf="showFiller">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

